[package]
name = "turtle"
version = "1.0.0-alpha.8"
authors = ["Sunjay Varma <varma.sunjay@gmail.com>"]
description = "Learn the Rust language by creating animated drawings!"
homepage = "http://turtle.rs"
repository = "https://github.com/sunjay/turtle"
readme = "README.md"
keywords = ["turtle", "graphics", "drawing", "teaching", "beginner"]
# crates.io/category_slugs
categories = ["rendering", "rendering::graphics-api", "rendering::engine", "games", "gui"]
license = "MPL-2.0"

# Ignore all files so we can explicitly whitelist what we want to be included in
# the package
exclude = ["*"]
include = ["README.md", "LICENSE", "CODE_OF_CONDUCT.md", "CONTRIBUTING.md",
  "CHANGELOG.md", "src/**/*.rs", "examples/**/*.rs", "tests/**/*.rs",
  "Cargo.toml", ".rustfmt.toml", "rust-toolchain"]

[badges]
# Appveyor: `repository` is required. `branch` is optional; default is `master`
appveyor = { repository = "sunjay/turtle" }

# Travis CI: `repository` in format "<user>/<project>" is required.
travis-ci = { repository = "sunjay/turtle" }

# Is it maintained resolution time: `repository` is required.
is-it-maintained-issue-resolution = { repository = "sunjay/turtle" }

# Is it maintained percentage of open issues: `repository` is required.
is-it-maintained-open-issues = { repository = "sunjay/turtle" }

[dependencies]
serde = "^1.0.23"
serde_derive = "^1.0.23"
serde_json = "^1.0.6"

piston_window = { version = "^0.73.0", optional = true }
# make sure to update low level piston dependencies when updating piston_window
piston2d-graphics = "^0.23.0"
interpolation = "^0.1.0"
pistoncore-input = "^0.20.0"

# current master has wasm32 support; released version does not
rand = { git = "https://github.com/rust-lang-nursery/rand.git", rev = "0cb85a2b9f3e0a24f1634faeb68230ec5b919340" }

[features]
default = ["desktop"]

# Render via a window on a desktop GUI OS.
desktop = ["piston_window"]

# Render via wasm to canvas. Mutually exclusive with "desktop" feature.
canvas = []

# The reason we do this is because doctests don't get cfg(test)
# See: https://github.com/rust-lang/cargo/issues/4669
#
# This allows us to write attributes like the following and have it work
# in all tests.
#
# #[cfg(any(feature = "test", test))]
#
# NOTE: This means that tests MUST be run with:
#   cargo test --features "test"
test = []

[lib]
# uncomment for wasm32
crate-type = ["cdylib"]
