<ul>
  {% comment %}TODO: Automatically generate this by filtering site.pages like in header.html{% endcomment %}
  <li class="header">
    <a href="{% link docs/index.md %}">Welcome!</a>
  </li>
  <li class="header">
    <a href="{% link docs/getting-started.md %}">Getting Started</a>
  </li>
  <li class="header">Drawing Basics</li>
  <li><a href="{% link docs/creating-a-turtle.md %}">Creating a Turtle</a></li>
  <li><a href="{% link docs/basic-movement.md %}">Basic Movement</a></li>
  <li><a href="{% link docs/basic-rotation.md %}">Basic Rotation</a></li>
  <li><a href="{% link docs/drawing-shapes.md %}">Drawing Shapes</a></li>
</ul>
