---
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import '{{ site.theme }}';

@import 'buttons';

html,
body {
  background: #424242;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

main {
  background: #fff;
}

.wrapper {
  max-width: 900px;
}

footer {
  &,
  a,
  a:visited,
  a:hover {
    color: inherit;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }

  .footer-col-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .footer-col-1,
    .footer-col-2,
    .footer-col-3 {
      width: auto;
    }
  }
}

.site-header {
  background: #4caf50;

  .page-link {
    color: #fff;
  }
}

.site-title,
.site-title:visited {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .site-nav {
    background: #2e7d32;
    border-color: #4caf50;
    text-align: left;

    input:checked ~ .trigger {
      min-width: 250px;
    }

    .page-link {
      margin-left: 0;
    }
  }
}
