---
---

.docs-page {
  background-color: #fff;
  margin: -30px -15px;
  padding: 15px 0;

  @media (min-width: 768px) {
    box-shadow: 0 1px 5px #ccc;
    display: flex;
    margin-bottom: 0;
    padding: 0;
  }
}

.docs-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding: 15px;

  .post-header {
    margin-bottom: 15px;
    padding-bottom: 5px;
  }

  .post-title {
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
  }

  .docs-content {
    flex-grow: 1;
    min-height: 400px;
  }

  h2 {
    border-bottom: 1px solid #ddd;
  }

  img {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    margin: 0;

    .post-header {
      border-bottom: 1px solid #ddd;
    }
  }
}

.docs-nav-trigger {
  height: 15px;
  opacity: 0;
  position: absolute;
  width: 18px;

  &:checked ~ .docs-nav {
    display: block;
  }
}

.docs-nav-toggle {
  border-radius: 0;
  display: block;
  margin: 0 15px;
  position: relative;

  &:hover {
    border-color: transparent;
  }

  .docs-nav-trigger:checked ~ & {
    background: #eee;
    border-bottom-color: #adadad;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
  }

  .menu-icon {
    left: 5px;
    position: absolute;
    top: 8px;
    vertical-align: middle;
  }

  @media (min-width: 768px) {
    display: none;
    margin-left: auto;
    margin-right: auto;

    .menu-icon {
      position: inherit;
    }
  }
}

.docs-nav {
  background: #eee;
  display: none;
  flex-shrink: 0;
  margin: 0 15px;
  overflow: hidden;
  padding: 15px;

  h3 {
    color: #03a9f4;
    margin-bottom: 0;
  }

  ul {
    border-left: 1px solid #aaa;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .header,
  .header a,
  .header :visited {
    color: #03a9f4;
    font-weight: bold;
  }

  .header:not(:first-child) {
    margin-top: 10px;
  }

  li:not(.header) {
    margin-left: 15px;
    margin-top: 5px;

    a,
    a:visited,
    a:hover {
      color: inherit;
    }

    &.active {
      font-weight: bold;
    }
  }

  @media (min-width: 768px) {
    display: block;
    margin: 0;
    width: 260px;
  }
}

.docs-pagination {
  align-items: stretch;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  text-align: center;
  width: 100%;

  a,
  a:visited,
  a:hover {
    color: #03a9f4;
    font-weight: bold;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
